[submodule "themes/coder-portfolio"]
	path = themes/coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio
[submodule "themes/hugo-notepadium"]
  path = themes/hugo-notepadium
  url = https://github.com/cntrump/hugo-notepadium
